<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false"
        type="EPiServer.ConnectForSharePoint.SharePointModule, EPiServer.ConnectForSharePoint"
        clientResourceRelativePath="{VersionString}">
    <assemblies>
        <add assembly="EPiServer.ConnectForSharePoint" />
    </assemblies>

    <routes>
        <route url="{moduleArea}/{controller}/{action}/">
            <defaults>
                <add key="moduleArea" value="EPiServer.ConnectForSharePoint" />
                <add key="controller" value="" />
                <add key="action" value="Index" />
            </defaults>
        </route>
    </routes>

    <clientResources />

    <dojo>
        <paths>
            <add name="epi-connectforsharepoint" path="ClientResources/Scripts" />
        </paths>
    </dojo>

    <clientModule initializer="epi-connectforsharepoint.SharePointModule">
        <moduleDependencies>
            <add dependency="Shell" />
            <add dependency="CMS" type="RunAfter" />
        </moduleDependencies>
        <requiredResources />
    </clientModule>
</module>